.home-contact {
  width: 100%;
  position: relative;
  padding: 80px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 50px;
  background-color: #fbfbfb;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.home-contact-title {
  text-align: center;
  width: 70%;
  user-select: none;
}

.home-contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 25px;
}

#email-subscribe {
  text-align: center;
  border: none;
  font-family: "Dosis", sans-serif;
  color: #252525;
  font-size: 1.5rem;
}
